body,html{
    height: 100%;
    margin: 0;
    font-family: 'poppins' , sans-serif;
} 

.background {
    background-image: url(https://images.pexels.com/photos/189333/pexels-photo-189333.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1);
    background-size: cover;
    background-position: center;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    
}
.booking-fourm{
    background-color: #fff;         /* back groiund color*/
    padding: 20px;
    border-radius: 10px;
    max-width: 500px;
    width: 80%;
    margin: 0 auto;
}

.booking-fourm h2 {
    text-align: center;
}
.booking-fourm form {
    display: flex;
    flex-direction: column;
}
.booking-fourm input{
    padding: 10px;
    border: 1px solid #cccccc;
    border-radius: 5px;
}
.booking-fourm button{
    margin-top: 10px;
    padding: 10px;
    background-color: #333;             /* back groiund color*/
    color: #ffffff;
    border: none;
    border-radius: 50px;
    cursor: pointer;
}
.booking-fourm button:hover{
    background-color: #f7c08a;

}




